@keyframes truck-back-in-down {
  0% {
    transform: translateY(-1200px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes truck-fade-in-right {
  0% {
    transform: translate3d(60px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.truck-animate {
  animation-duration: 0.9s;
  animation-fill-mode: both;
}

.truck-back-in-down {
  animation-name: truck-back-in-down;
}

.truck-fade-in-right {
  animation-name: truck-fade-in-right;
}
